@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  
}

body {
  display: flex;
  flex-direction: column;
  
}

/* Tab Left */

.tab {
  width: 90%;
  height: auto;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  border: none;
  background-color: #333;
  
}

.tab-wrapper {
  display: flex;
  width: 100%;
  height: 70px;
  border: none;
}

.tab .link-me{
  width: 100%;
  border: none;
  background-color: #333;
  cursor: pointer;
  color: #fff;
  font-size: 36px;
  outline: none;
  transition-duration: 300ms;
}
.tab button{
  width: 100%;
  height: 100%;
  border: none;
  background-color: #333;
  cursor: pointer;
  color: #fff;
  font-size: 36px;
  outline: none;
  transition-duration: 300ms;
}
.tab button:hover{
  background-color: #151515;
}

/* Tab Right */

.container2 {
  margin-top: 150px;
  width: 100%;
  background-color: #FFF;
}
.profile-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}
.profile-picture {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.profile-picture img {
  width: 40%;
  height: 75%;
  border-radius: 100%;
  margin-right: 50px;
  box-shadow: 0 0 10px 1px rgba(0, 0 ,0 ,0.3);
}
.profile-title-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.profile-title-container{
  margin: 60px 0;
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-title-container h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  padding: 20px 10px;
}
.profile-title-container h5 {
  font-size: 20px;
  color: rgb(92, 91, 91);
}
.profile-container button {
  border: none;
  background-color: #fff;
  margin: 0 10px;
  color: #ccc;
  font-size: 24px;
  transition: .3s;
}
.profile-container button:hover {
  color: #151515; 
}


/* About ME */

.about-me-container {
  width: 100%;
  border-bottom: 1px solid #CCC;
  padding-bottom: 40px;
}
.about-me-wrapper {
  text-align: center;
  padding: 0px 30%;
}
.about-me-wrapper h2 {
  text-align: center;
  padding: 35px;
  font-size: 50px;
}

/* Skills */

#skill {
  height: 120vh;
  border-bottom: 1px solid #ccc;
}

.skill-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skill-title h2 {
  text-align: center;
  padding: 35px;
  font-size: 50px;
}

.skill-flex {
  display: flex;
}

.skill-items {
  width: 100%;
  text-align: center;
  padding: 30px;
  transition: .3s;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 40px;
}

.skill-items:hover {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
}

.skill-items img {
  width: 150px;
  height: 150px;
  border-radius: 10%;
}

.skill-items figcaption {
  margin-top: 15px;
}

/* Footer */
footer {
  background-color: #333;
  height: 250px;
  color: #333;
}
.footer-container {
  margin: 0 auto;
  margin-left: 25%;
}
.footer-flex {
  display: flex;
  flex-direction: row;
  height: 250px;
  justify-content: center;
  align-items: center;
}
.footer-items {
  background-color: #333;
  width: 100%;
  padding: 30px;
  height: 100%;
  color: #FFF;
}
.footer-items ul {
  list-style: none
  
}
.footer-items ul li {
  margin-top: 10px;
  margin-left: -15px;
}
.footer-items ul li .footer-icon{
  margin-right: 8px;
}